<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
    <h1> {{ text }} </h1>
    <button><a href="/"><h2>Начальная страница</h2></a></button><br>
    <button><a href="#"><h2>Самая главная страница</h2></a></button><br>
    <button><a href="games"><h2>Игры</h2></a></button><br>
    <button><a href="basket"><h2>Корзина</h2></a></button>

</body>
</html>